<%= form_with(model: [@project, task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :decription %>
    <%= form.text_area :decription %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :story_point %>
    <%= form.number_field :story_point, step: :any %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ["Low", "Medium", "High"] %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["In-progress", "On-hold", "Completed"] %>
  </div>

  <div class="field">
    <%= form.label :phase %>
    <%= form.collection_select :phase_id, Phase.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :task_type %>
    <%= form.text_field :task_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
