<%= form_with(model: [@project, task]) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control",
    placeholder: "Task's title" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control",
    placeholder: "Task's description" %>
  </div>

  <div class="field mb-3">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :story_point %>
    <%= form.number_field :story_point, step: :any, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :priority %>
    <%= form.select :priority, ["Low", "Medium", "High"] %>
  </div>

  <div class="field mb-3">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :status %>
    <%= form.select :status, ["In-progress", "On-hold", "Completed"] %>
  </div>

  <div class="field mb-3">
    <%= form.label :phase %>
    <%= form.collection_select :phase_id, Phase.all, :id, :title %>
  </div>

  <div class="field mb-3">
    <%= form.label :task_type %>
    <%= form.text_field :task_type, class: "form-control"  %>
  </div> <br/>

  <div class="actions d-grid gap-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
