<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub_task.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sub_task.status %>
</p>

<p>
  <strong>Task:</strong>
  <%= @sub_task.task.title %>
</p>

<%= link_to 'Edit', edit_task_sub_task_path(@task, @sub_task) %> |
<%= link_to 'Back', task_sub_tasks_path(@task) %>
