<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control",
    placeholder: "Project's title" %>
  </div> 

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control",
    placeholder: "Project's description" %>
  </div> 

  <div class="field mb-3">
    <%= form.label :status %>
    <%= form.select :status, ["In-progress", "On-hold", "Completed"], class: "form-select" %>
  </div> 

  <div class="field mb-3">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "form-control" %>
  </div> 

  <div class="field mb-3">
    <%= form.label :phases %>
    <%= form.text_field :all_phases,
    placeholder: "Phases seperated by comma (Eg. Todo, In-progress, Completed)", class: "form-control" %>
 </div> <br/>

  <div class="actions d-grid gap-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div> 
<% end %>