<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Due_date:</strong>
  <%= @project.due_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Add Task', project_tasks_path(@project) %> |
<%= link_to 'Back', projects_path %>
